<?xml version="1.0" encoding="UTF-8"?>
<suite name="Leads_Suite" parallel="classes" thread-count="3">
	<test name="Leads_SuiteDesktop">
		<classes>
			<class name="com.qa.flight.FlightBookingTest">
				<methods>
					<include name="verifyFlightBooking" />
				</methods>
			</class>
		</classes>
	</test>
</suite>
